<div class="example-menu" style="position: absolute;" cdkMenu>
    <button mat-raised-button color="primary" style="margin-bottom: 10px;" (click) = "filtrarDespesas()" cdkMenuItem>Filtros</button>
    <button mat-raised-button color="accent" style="margin-bottom: 10px;" (click) = "filtrarDespesasMes()" cdkMenuItem>Despesas Mês</button>
    <button mat-raised-button color="warn" style="margin-bottom: 10px;" (click) = "filtrarDespesasCategoria()" cdkMenuItem>Despesas Categoria</button>
    <button mat-raised-button style="background-color: #7FFF00; color: black;" (click) = "filtrarOrigemRecursos()" cdkMenuItem>Fonte do Recurso</button>
  </div>