<section class="content-header">
  <p-toast [style]="{marginTop: '30px'}"></p-toast>
  <h1>
    Despesas Orçamentárias
    <small>Totais Mensais</small>
  </h1>
</section>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let despesa"> {{despesa.position}} </td>
      </ng-container>
  
      <!-- Mês Column -->
      <ng-container matColumnDef="mes">
        <th mat-header-cell *matHeaderCellDef> Mês </th>
        <td mat-cell *matCellDef="let despesa"> {{despesa.mes}} </td>
      </ng-container>
  
      <!-- Valot Total Column -->
      <ng-container matColumnDef="valorTotal">
        <th mat-header-cell *matHeaderCellDef> Valor Total </th>
        <td mat-cell *matCellDef="let despesa"> {{despesa.valorTotal}} </td>
      </ng-container>
     
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
     <!--Paginação-->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic despesas">
    </mat-paginator>
  </div>